.wUp {
	background-color: white;
	float: left;
	width: 20px;
	height:70px;
	border: 1px solid black;
	z-index: 9px;

}

.wDown {
	background-color: #555555;
	float: left;
	width: 20px;
	height:70px;
	border: 1px solid black;
}

.bUp {
	/*background-color: black;
	float: left;
	width: 20px;
	height:70px;
	border: 1px solid black;*/

	background-color: black;
	float: left;
	width: 12px;
	height:40px;
	border: 1px solid black;
	margin-left: -6px;
	margin-right: -12px;
	z-index: 10px;
	position: relative;
}

.bDown {
	/*background-color: #555555;
	float: left;
	width: 20px;
	height:70px;
	border: 1px solid black;*/
	background-color: #555555;
	float: left;
	width: 12px;
	height:40px;
	border: 1px solid black;
	margin-left: -6px;
	margin-right: -12px;
	z-index: 10px;
	position: relative;
}

.bogSynthOscillator {
	margin: 5px;
}

#keyBoard {
	position:absolute;
	left: 250px;
	top: 520px;
}

input[type="range"] {

}

#masterFader {
	-webkit-transform: rotate(270deg);
	position: absolute;
	left: 545px;
	top: 550px;
	width: 50px;
}
