#filterContainer {
    /*background-color: beige; */
    background-color: #a7a7a7;

    width: 266px;
    height: 67px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #444444;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
}

#filterContainer #filterPowerButtons {
    width: 16px;
    float: left;
}

#filterPowerButtons .powerButton {
    margin-bottom: 5px;
}

#power1Button {
    top: 0px;
}
#power2Button {
    top: 20px;
}
#power3Button {
     top: 40px;
 }

#filtersDropdown {
    bottom: 8px;
    right: 10px;
}

#filterContainer * {
    position: absolute;
}

#filterCanvas {
    right: 10px;
}

#filterFreqSliders {
    height: 80px;
    width: 80px;
    left: 70px;
}

#frequencySlider {
    width: 80px;
}

#qSlider {
    width: 80px;
    top: 20px;
}
/* OLD
#gainSlider {
   /*left: 70px; *
    width: 80px;
    top: 40px;
}*/

#filterFLabel {
    left: -12px;
    top: 5px;
}

#filterQLabel {
    left: -12px;
    top:25px;
}
#filterGLabel {
    left: -12px;
    top:45px;
}

/*

/* NEW SLIDER */
.oscillatorGainContainer {
    width: 100%;
  }


  .gainFader {
    -webkit-appearance: none;
    width: 100%;
    /*height: 25px;*/
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12px !important;
    margin-bottom: 12px;
  }
  
  .gainFader:hover {
    opacity: 1;
  }
  
  .gainFader::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #4CAF50;
    border: 1px solid black;

    cursor: pointer;
  }
  
  .gainFader::-moz-range-thumb {
    width: 10px;
    height: 25px;
    background: #4CAF50;
    border: 1px solid black;

    cursor: pointer;
  }