/*
*   StyleSheet for the Oscillator octave module
*
*   Components
*   .oscillatorOctaveContainer: div containing the octave Controls.
*   .octaveDisplayer          : the display.
*/

.oscillatorOctaveContainer {
    /*width:84px;
    height: 32px;*/
    width:100px;
  /*  height: 32px; */
    height: 55px;

    background-color: #a7a7a7;
    margin-left: 3px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px;
}

.oscillatorOctaveContainer-row {
    width: 140%;
}

.oscillatorOctaveContainer label{
    margin-right: 2px;
}

.oscillatorOctaveContainer .octaveDisplayer {
    width: 16px;
    margin-left: 5px;
}

.oscillatorOctaveContainer button{
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.oscillatorOctaveContainer button{
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.oscillatorOctaveContainer .oscillatorOctaveLabel{
    font-size: 12px;
    margin:0;
    padding-left: 0px;
    padding-right:18px;
    padding-top:10px;
    font-weight: bold;
}

.oscillatorOctaveContainer .oscillatorOctaveLabel2{
    font-size: 12px;
    margin:0;
    padding-left: 9px;
    padding-right:9px;
    padding-top:10px;
    font-weight: bold;
}


.oscillatorOctaveContainer .powerButton *{
    margin:0;
    margin-top: 5px;
}

