/*
*   StyleSheet for the Oscillator gain module
*
*   Components
*   .oscillatorGainContainer: div containing the gainControls.
*   .oscillatorFader        : the fader.
*   .gainDisplayer          : the display.
*/

.bogSynthOscillator .oscillatorGainContainer {
    width: 64px;
    height: 64px;
}

.bogSynthOscillator .oscillatorGainContainer * {
    float: top;
}

.bogSynthOscillator .oscillatorFader {
    -webkit-transform: rotate(270deg);
    margin-left: 0px;
    margin-top: 12px;
    width: 45px;
}
.bogSynthOscillator .gainDisplayer {
    margin-top: 10px;
    margin-left: 5px;
    width: 40px;
    background-color: transparent;
    border: none;
}