/*
*   StyleSheet for the Synthesizer
*
*   Components
*   #bogSynth                 : The Synthesizer
*/


#bogSynth {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position: relative;
    width: 600px;
    height: 400px;
    //background-color: rgb(50,72,105);

    background: rgb(50,72,105);
    background: -webkit-linear-gradient(top, rgb(50,72,105) 0%, rgb(100,122,155) 40%, rgb(50,72,105) 100%);
    background: linear-gradient(top, rgb(50,72,105) 0%, rgb(100,122,155) 40%, rgb(50,72,105) 100%);;
    //background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

    padding:50px;
    margin: auto;
    margin-top: 150px;
//rgb(100,122,155);
    border: 5px solid rgb(70,92,125);
}

#bogSynth * {
    outline : none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    float:left;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */


}

#bogSynth>#logo {
    position: absolute;
    imsmooth:never;
    left: 5px;
    top: 5px;
    width: 43px;
    height: 43px;
    background-image: url("../../data/images/logoSmall.png");
    background-size: 100%;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    width: 16px;
    height: 16px;
    margin: 0px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
input[type="checkbox"]:checked + label span {
    width: 16px;
    height: 16px;
    margin: 0px;
    background: #27ae60;
    background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
    background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
